/** {
   outline: 1px solid red !important;
}*/
.description{
	color: salmon;
}
element.style{
	display:flex;
}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-box-sizing: border-box;
}
.picture
{
	width : 40%;
	height : 40%;
}
.bigPicture
{
	min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
    opacity: 0.84;
}
.name{
	font-size: 130px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 250%;
    letter-spacing: 11px;

}
.top{
	margin-top:300px;
}
.top1{
	margin-top:70px;
}
.top2{
	margin-top:-118px;
}
.selfie{
	width : 15%;
	height : 15%;
}
.centerImage {
    display: block;
	margin-left: auto;
	margin-right: auto 

}
.smallWord{
	font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    text-align: center;
    line-height: 5%;
    letter-spacing: 3px;
}
hr {
	width:70%;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}